.channel__news {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-bottom: 5px;
}
.channel__news .channel__article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: white;
  width: 100%;
  margin: 5px 0px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.channel__news .channel__content .content__resume {
  font-size: 14px;
  font-weight: 600;
  color: #515151;
  line-height: 20px;
}
.channel__news .channel__content .content__user {
  font-size: 11px;
  margin-top: 6px;
  color: #adadad;
}

.channel__news .channel__article .content__thumbnail img {
  padding-left: 15px;
  width: 120px;
  height: 70px;
}
