::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin-top: 67px;
  margin-bottom: 60px;
}

.top-header,
.tab-bar,
body {
  align-items: center;
  justify-content: center;
}
