.top-header {
  background-color: #212121;
  color: white;
  padding: 5px 5px 15px 5px;
  position: fixed;
  width: 100%;
  top: 0;
}

.top-header .header__top,
.top-header .header__bottom {
  display: flex;
  justify-content: space-between;
}

.top-header .header__top {
  margin-bottom: 20px;
  font-size: 12px;
}

.top-header .header__bottom {
  margin: 0 10px;
}

.top-header .header__bottom i {
  color: white;
}

.top-header .header__column {
  width: 33%;
}

.top-header .header__column:last-child {
  text-align: right;
}

.top-header .header__column:nth-child(2) {
  text-align: center;
}

.top-header .header__number {
  color: #9b9b9b;
}
.top-header .header__column-profile {
  text-align: right;
}
.top-header a {
  color: white;
}
